@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.slideshow {
    overflow: hidden;
    width: 100vw;
    height: 45vw;
    h2 {
        position: absolute;
        z-index: 10;
        left: 30vw;
        top: 15vw;
        font-size: 5vw;
        font-family: Lobster;
        color: white;
        text-shadow: rgba(0, 0, 0, 0.733) 0px 5px 25px;
    }
    .arrow {
        position: absolute;
        display: flex;
        z-index: 10;
        filter: invert(100%);
        cursor: pointer;
    }
    .leftArrow {
        transform: rotateY(180deg);
        opacity: 50%;
        top: 30vh;
    }
    .rightArrow {
        opacity: 50%;
        right: 0;
        top: 30vh;
    }
    .image-box {
        width: 300vw;
        display: flex;
        transition: 800ms ease-in-out;
        z-index: 0;
        div {
            width: 33.33%;
            display: inline-block;
            .img1 {
                width: 100%;
            }
        }
        div {
            width: 33.33%;
            display: inline-block;
            .img2 {
                width: 100%;
            }
        }
        div {
            width: 33.33%;
            display: inline-block;
            .img3 {
                width: 100%;
            }
        }
    }
}